/* Fonts */
@import url('https://fonts.bunny.net/css?family=Nunito');

/* Vendor CSS (node_modules) */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

/* Local CSS (must be real .css files) */
@import "./articles/form.css";
@import "./articles/index.css";
@import "./articles/detail.css";
@import "./main.css";